# WEATHER PREDICTION PROJECT(Decision Tree Algorithm)

In [49]:
#importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [50]:
#read the data
dd=pd.read_csv("seattle-weather.csv")

In [58]:
#display the first 10 rows of dataset
dd.head(10)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain
5  2012-01-06            2.5       4.4       2.2   2.2     rain
6  2012-01-07            0.0       7.2       2.8   2.3     rain
7  2012-01-08            0.0      10.0       2.8   2.0      sun
8  2012-01-09            4.3       9.4       5.0   3.4     rain
9  2012-01-10            1.0       6.1       0.6   3.4     rain

The term "precipitation" in a weather dataset typically refers to the amount of water (in various forms, such as rain, snow, sleet, or hail) that falls to the ground from the atmosphere.

In [59]:
#counting the unique value count
dd['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [60]:
#getting information about dataset
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [61]:
#segregate the x and y
x=dd.iloc[:,:5]#(date,Precipitation,temp_max,temp_min,wind)
y=dd.iloc[:,5]#weather

In [111]:
#encoding the date column objectg to float
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
en=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder="passthrough")
X=en.fit_transform(x)

In [112]:
X=X.toarray()

In [113]:
X.shape

(1461, 1465)

In [65]:
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [66]:
#split the datset for train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [67]:
#applying the standared scaler 
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
x_train=st.fit_transform(x_train)
x_test=st.transform(x_test)

In [68]:
#applying the decision tree algorithm
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(criterion='gini')#we can give criterion='entropy' also but it give only 78% accuacy comparthan gini it's less
#criterion='gini'-criterion='gini', it means that the decision tree algorithm is using the Gini impurity as the criterion to evaluate the quality of splits for mah=king the treee
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [69]:
#predicting the Y using x_test values
y_prd=dt.predict(x_test)

In [70]:
y_prd

array(['sun', 'fog', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'drizzle', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'sun', 'rain', 'drizzle', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'sun', 'fog', 'rain', 'fog', 'rain', 'rain', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'fog', 'rain', 'sun',
       'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'drizzle',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'fog',
       'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'rain', 'fog', 'sun', 'fog', 'rain', 'rain', 'rain', 'fog',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'fog', 'rain', 'sun',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun',
       'rain', 'sun', 'drizzle', 'sun', 'sun', 'sun', 'rain', 'snow',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'fog', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'fog', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun'], dtype=object)

In [71]:
y_test

530      sun
657      sun
459     rain
279      sun
656      sun
        ...
781     rain
1391     fog
1168    rain
847     rain
1425     sun
Name: weather, Length: 366, dtype: object

In [72]:
#checking the accuracy of prediction
from sklearn.metrics import confusion_matrix,accuracy_score
acc=accuracy_score(y_prd,y_test)
print("Accuracy:",acc*100)

Accuracy: 81.9672131147541

In [145]:
#applying user input for created model
date=input("ENTER THE DATE:")
precipitation=float(input("ENTER THE PRECIPITATION:"))
temp_max=float(input("ENTER THE MAXIMUM TEMPERATURE:"))
temp_min=float(input("ENTER THE MINIMUM TEMPERATURE:"))
wind=float(input("ENTER THE WIND:"))
inp=[date,precipitation,temp_max,temp_min,wind]
inp

ENTER THE DATE:2012-01-02
ENTER THE PRECIPITATION:10.9
ENTER THE MAXIMUM TEMPERATURE:10.6
ENTER THE MINIMUM TEMPERATURE:2.8
ENTER THE WIND:4.5

['2012-01-02', 10.9, 10.6, 2.8, 4.5]

In [146]:
#changing the list to dataset
dd1=pd.DataFrame([inp],columns=dd.columns[0:5])
dd1

         date  precipitation  temp_max  temp_min  wind
0  2012-01-02           10.9      10.6       2.8   4.5

In [147]:
dd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1 non-null      object
 1   precipitation  1 non-null      float64
 2   temp_max       1 non-null      float64
 3   temp_min       1 non-null      float64
 4   wind           1 non-null      float64
dtypes: float64(4), object(1)
memory usage: 168.0+ bytes

In [148]:
xx=dd1.iloc[:,:5]
xx

         date  precipitation  temp_max  temp_min  wind
0  2012-01-02           10.9      10.6       2.8   4.5

In [149]:
#concating the new xx dataset and old x dataset because if we do encoding only one row it's giving differnet size so we giving more value to encode and once encode is done we take our user value
dd2=pd.concat([x,xx],axis=0)

In [150]:
dd2

            date  precipitation  temp_max  temp_min  wind
0     2012-01-01            0.0      12.8       5.0   4.7
1     2012-01-02           10.9      10.6       2.8   4.5
2     2012-01-03            0.8      11.7       7.2   2.3
3     2012-01-04           20.3      12.2       5.6   4.7
4     2012-01-05            1.3       8.9       2.8   6.1
...          ...            ...       ...       ...   ...
1457  2015-12-28            1.5       5.0       1.7   1.3
1458  2015-12-29            0.0       7.2       0.6   2.6
1459  2015-12-30            0.0       5.6      -1.0   3.4
1460  2015-12-31            0.0       5.6      -2.1   3.5
0     2012-01-02           10.9      10.6       2.8   4.5

[1462 rows x 5 columns]

In [151]:
#applying encoding
en1=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),['date'])],remainder="passthrough")
X1=en1.fit_transform(dd2.iloc[:,:5])

In [152]:
#chaning to array
x1=X1.toarray()

In [153]:
#fetching the user value from the encoded array
length=len(dd2)
xx1=x1[length-1]
xx1

array([ 0. ,  1. ,  0. , ..., 10.6,  2.8,  4.5])

In [154]:
#predict the wether by user input
predict=dt.predict(xx1.reshape(1,-1))

In [155]:
predict

array(['rain'], dtype=object)

In [144]:
#data of dataset 1st row(we given this row only as a user input and it predicted well as we expected "rain")
dd.iloc[1]

date             2012-01-02
precipitation          10.9
temp_max               10.6
temp_min                2.8
wind                    4.5
weather                rain
Name: 1, dtype: object