# boxplot

A box plot, also known as a box-and-whisker plot, is a graphical representation of a dataset's summary statistics, providing information about the distribution and spread of the data

In [2]:
import string
import numpy as np
import pandas as pd
from plotly.offline import plot
import plotly.graph_objs as go

# Basic box plot

In [3]:
n=50
y_vals={}
for i in list(string.ascii_uppercase):
    y_vals[i]=np.random.randint(1,34,n)
df=pd.DataFrame(y_vals)
df.head()

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,19,13,29,24,10,3,24,17,21,27,...,19,21,9,3,17,29,27,5,25,30
1,12,7,18,21,17,2,5,6,29,23,...,30,22,22,33,6,4,9,3,10,6
2,2,16,31,21,7,16,14,14,33,24,...,9,15,8,27,7,15,17,21,14,2
3,19,24,14,28,3,23,9,20,26,12,...,28,22,29,25,13,25,19,7,15,28
4,8,2,15,6,10,7,24,10,30,7,...,27,21,5,6,6,18,24,25,33,15

In [4]:
#creating boxplot for every column
data=[]
for j in  df.columns:
    data.append(go.Box(
        y=df[j],#x-if we assign value to x means horizontal barbox wil come
        name=j,
    ))
plot(data)

'temp-plot.html'

In [13]:
#above boxplot describe the column 
df['A'].describe()

count    50.000000
mean     16.600000
std       9.180725
min       1.000000
25%       8.500000
50%      17.000000
75%      23.750000
max      33.000000
Name: A, dtype: float64

# customized box plot

In [7]:
#data = [[20, 22, 25, 27, 28, 29, 30],[20, 22, 25, 27, 28, 29, 30, 32, 33, 35, 37, 38, 40],[200, 220, 250, 270, 280, 290, 300, 320, 330, 350, 370, 380, 400]]
#we can't give like above mentioned data(2d array)
#here always better to give 1d data
data=[20, 22, 25, 27, 28, 29, 30, 32, 33, 35, 37, 38, 40]
trace=go.Box(
y=data,
name="MYbox",
boxpoints='outliers',# Display outliers as separate points
marker=dict(size=8,color='plum'),
line=dict(color='red',width=5),
boxmean=True,# Display mean value inside the box
jitter=0.7## Add jitter to the points for better visibility

)
plot([trace])

'temp-plot.html'