# Netflix_data_Excesise

# Pandas Exercises
In this section, we'll use a netflix database that I have recently come across to do some exercises with Pandas. https://www.kaggle.com/shivamb/netflix-shows

Dataset is already included in the folder. However, I have provided the link if anyone wants to have a look.

# Starting with our imports as usual, numpy as np, pandas as pd and import DataFrame module from pandas:

In [30]:
import numpy as np
import pandas as pd

# 1. Read in the netflix dataset "data_netflix.csv" using read_csv:

In [227]:
d=pd.read_csv('E:/Python_notes/data_netflix.csv')
d

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

# 2. Have a look at the head of DataFrame:

In [32]:
d.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

# 3. Get the general information about the DataFrame:

In [33]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

# 4. Get index and column labels without using head():

In [34]:
d.index

RangeIndex(start=0, stop=6234, step=1)

In [35]:
d.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

# 5. Replace the column labels with the dictionary below (so that it looks a little nicer):

In [203]:
# Only replacing labels with '_'

new_columns = {'show_id':'Show ID','date_added':'Date added','release_year':'Release Year','listed_in':'Listed in'}
d.rename(new_columns,axis=1,inplace=True)
d.head(5)

,Show ID,type,title,director,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1

# 6. Find the item on 100. row:

In [37]:
print(d.iloc[100])#iloc-it's used to fetch specfic row

Show ID                                                  81132443
type                                                        Movie
title                                                    Deliha 2
director                                               Gupse Özay
cast            Gupse Özay, Eda Ece, Aksel Bonfil, Derya Alabo...
country                                                    Turkey
Date added                                     September 27, 2019
Release Year                                                 2018
rating                                                      TV-PG
duration                                                  102 min
Listed in                          Comedies, International Movies
description     While chasing her dream of becoming a chef, Ze...
Name: 100, dtype: object

# 6.a Since we dont have index labels, what else could we use to get the same item ?

In [239]:
dd=d['show_id'].tolist().index(81132443)
print(d.iloc[dd])

show_id                                                  81132443
type                                                        Movie
title                                                    Deliha 2
director                                               Gupse Özay
cast            Gupse Özay, Eda Ece, Aksel Bonfil, Derya Alabo...
country                                                    Turkey
date_added                                     September 27, 2019
release_year                                                 2018
rating                                                      TV-PG
duration                                                  102 min
listed_in                          Comedies, International Movies
description     While chasing her dream of becoming a chef, Ze...
IMDB                                                          2.6
Name: 100, dtype: object

# 7. Select "title,director, Listed in,duration" columns in the DataFrame:

In [38]:
d[['title','director', 'Listed in','duration']]

,title,director,Listed in,duration
0,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Children & Family Movies, Comedies",90 min
1,Jandino: Whatever it Takes,NaN,Stand-Up Comedy,94 min
2,Transformers Prime,NaN,Kids' TV,1 Season
3,Transformers: Robots in Disguise,NaN,Kids' TV,1 Season
4,#realityhigh,Fernando Lebrija,Comedies,99 min
...,...,...,...,...
6229,Red vs. Blue,NaN,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",13 Seasons
6230,Maron,NaN,TV Comedies,4 Seasons
6231,Little Baby Bum: Nursery Rhyme Friends,NaN,Movies,60 min
6232,A Young Doctor's Notebook and Other Stories,NaN,"British TV Shows, TV Comedies, TV Dramas",2 Seasons
6233,Friends,NaN,"Classic & Cult TV, TV Comedies",10 Seasons

# Unfortunately, there are no IMDB ratings in the dataset :(
We'll create a random array from 0 to 10 which has the same size to insert into the DataFrame as 'IMDB rating'
Important:
 because we are using a random array, there is actually no correct result to the tasks 
 involving IMDB rating. Everyone will see different ratings, hence different results.

In [39]:
#Feel free to run the line below to generate the IMDB ratings:
Imdb=np.random.uniform(1,10,len(d['title']))
imdb=np.round(Imdb,decimals=1)
imdb

array([5.5, 4.6, 4. , ..., 6.8, 7.8, 4.3])

# 8. Insert the random ratings we created as a new column into the DataFrame and name it 'IMDB rating':

In [228]:
d['IMDB']=imdb
d

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.9
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,6.8
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",7.8
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,4.3

# 9. Delete the director column using del:

In [40]:
del d['director']
d.head()

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

# 10. Drop the 'Date added' column:

In [44]:
d.drop('Date added',axis=1)

,Show ID,type,title,cast,country,Release Year,rating,duration,Listed in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

# 11. Get max, min, and mean of the 'IMDB rating' using agg():

In [49]:
d['IMDB'].agg(['max','min','mean'])

max     10.000000
min      1.000000
mean     5.480029
Name: IMDB, dtype: float64

# 12. Find how many items have 10 IMDB rating (Hint: use logical masking):

In [63]:
d1=d[d['IMDB']==10].count()
d1

show_id         34
type            34
title           34
director        24
cast            29
country         33
date_added      34
release_year    34
rating          34
duration        34
listed_in       34
description     34
IMDB            34
dtype: int64

# 13. Find items with 10 IMDB rating and display only their titles:

In [64]:
d1=d[d['IMDB']==10]
d1['title']

97                                         Two Catalonias
173                                       Vincent N Roxxy
284                                                 Turbo
519                                                  Jefe
824                                             Supergirl
834                                The Liar and His Lover
959                                        The Lion Woman
978     My Little Pony Equestria Girls: Legend of Ever...
1201                                               Target
1344                                                  187
1533             Norman Lear: Just Another Version of You
1694                                            Jailbreak
1877                                     A Kind of Murder
2239                                      Triple Frontier
2434                                        Ali's Wedding
2516                                      Family Business
2590    The Vietnam War: A Film by Ken Burns and Lynn ...
2875                   Iliza Shlesinger: Elder Millennial
2977                                               Lusers
3012                                            Mega Food
3257         Gabriel "Fluffy" Iglesias: One Show Fits All
3492                                         Center Stage
3643                                                Badha
4318                                      Murder Mountain
4369                                        Ninja Hattori
4435                                         Pacific Heat
4464                               Sincerely Yours, Dhaka
4568                             The Monster of Mangatiti
4579                                        6 Underground
5263                                     Casting JonBenet
5706                                   Star Trek: Voyager
5825                                                 Love
5903                                               Flaked
6014                                   Harvey Street Kids
Name: title, dtype: object

# 14. Sort the items according to their IMDB rating (descending):

In [89]:
d1=d.sort_values(by='IMDB',ascending=False)
d1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
834,81167083,TV Show,The Liar and His Lover,NaN,"Lee Hyun-woo, Joy, Lee Jung-jin, Lee Seo-won, ...",South Korea,"October 1, 2019",2017,TV-PG,1 Season,"International TV Shows, Korean TV Shows, Roman...",A talented singer falls in love at first sight...,10.0
5263,80142316,Movie,Casting JonBenet,Kitty Green,NaN,"United States, Australia, China","April 28, 2017",2017,TV-14,81 min,Documentaries,Local actors from JonBenet Ramsey's hometown o...,10.0
959,80106036,Movie,The Lion Woman,Vibeke Idsøe,"Rolf Lassgård, Kjersti Tveterås, Rolf Kristian...","Norway, Germany","October 1, 2017",2016,TV-PG,118 min,"Dramas, International Movies",A girl born with a condition that causes abnor...,10.0
4435,80106265,TV Show,Pacific Heat,NaN,"Rob Sitch, Santo Cilauro, Tom Gleisner, Rebecc...",Australia,"December 2, 2016",2016,TV-14,1 Season,"Crime TV Shows, TV Comedies","In this animated satire, a covert squad of ope...",10.0
5903,80046249,TV Show,Flaked,NaN,"Will Arnett, David Sullivan, Ruth Kearney, Geo...",United States,"June 2, 2017",2017,TV-MA,2 Seasons,"TV Comedies, TV Dramas","In his funky California beach enclave, Chip's ...",10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,"Cult Movies, Dramas, Independent Movies",A man in an unsatisfying marriage recalls the ...,1.0
6056,80215507,TV Show,Velvet Colección,NaN,"Marta Hazas, Asier Etxeandía, Adrián Lastra, D...",Spain,"February 14, 2019",2018,TV-14,2 Seasons,"International TV Shows, Romantic TV Shows, Spa...","In the late '60s, fashion designer Ana enlists...",1.0
2127,80156212,Movie,Wakefield,Robin Swicord,"Bryan Cranston, Jennifer Garner, Jason O'Mara,...",United States,"March 2, 2019",2016,R,109 min,Dramas,An unhappy father and lawyer quits his suburba...,1.0
724,80088507,TV Show,Power Rangers Dino Super Charge,NaN,"Brennan Mejia, Camille Hyde, Yoshi Sudarso, Mi...",United States,"October 15, 2016",2016,TV-Y7,1 Season,Kids' TV,Just when you thought the Rangers' mission was...,1.0
3813,80011541,Movie,She's Dating the Gangster,Cathy Garcia-Molina,"Kathryn Bernardo, Daniel Padilla, Richard Gome...",Philippines,"February 27, 2019",2014,TV-PG,113 min,"Dramas, International Movies, Romantic Movies","To make another woman jealous, a campus heartt...",1.0

# 15. Get a statistical description of the 'IMDB rating' column:

In [90]:
d['IMDB'].describe()

count    6234.000000
mean        5.480029
std         2.603174
min         1.000000
25%         3.200000
50%         5.500000
75%         7.800000
max        10.000000
Name: IMDB, dtype: float64

# 16. Get the items with IMDB rating bigger than 8.0 and with country as Spain:

In [113]:
d[(d['IMDB']>8.0) & (d['country']=='Spain')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
97,80992039,Movie,Two Catalonias,"Álvaro Longoria, Gerardo Olivares",NaN,Spain,"September 28, 2018",2018,TV-MA,117 min,"Documentaries, International Movies",Lawmakers and activists with conflicting ideol...,10.0
334,81003984,Movie,Barça Dreams,Jordi Llompart,"Johan Cruyff, Andrés Iniesta, Gary Lineker, Xa...",Spain,"September 1, 2018",2015,TV-14,122 min,"Documentaries, International Movies, Sports Mo...",Explore the history and philosophies behind on...,8.5
651,80990336,Movie,Seventeen,Daniel Sánchez Arévalo,"Biel Montoro, Nacho Sánchez, Lola Cordón, Itsa...",Spain,"October 18, 2019",2019,TV-MA,100 min,"Comedies, Dramas, International Movies","To find his therapy dog, a 17-year-old escapes...",8.6
1124,80103512,Movie,The Girl from the Song,Ibai Abad,"Lewis Rainer, Josephine Berry, Charlotte Atkin...",Spain,"November 24, 2017",2016,TV-MA,101 min,"Dramas, Independent Movies, International Movies",When an aspiring musician falls for a carefree...,8.3
2177,80988860,TV Show,If I Hadn't Met You,NaN,"Pablo Derqui, Mercedes Sampietro, Andrea Ros, ...",Spain,"March 15, 2019",2018,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Eduard, a husband and father who loses his fam...",9.5
2488,80109341,Movie,The Maus,Yayo Herrero,"Alma Terzic, August Wittgenstein, Aleksandar S...",Spain,"June 30, 2018",2017,TV-MA,90 min,"Horror Movies, Independent Movies, Internation...","While traveling with her German boyfriend, Sel...",8.5
2648,80131280,Movie,Sunday's Illness,Ramón Salazar,"Bárbara Lennie, Susi Sánchez, Miguel Ángel Sol...",Spain,"June 15, 2018",2017,TV-14,113 min,"Dramas, Independent Movies, International Movies",Decades after being abandoned as a young child...,8.2
2840,80173485,Movie,Boi,Jorge M. Fontana,"Bernat Quintana, Adrian Pang, Andrew Lua, Rach...",Spain,"July 26, 2019",2018,TV-MA,111 min,"Dramas, Independent Movies, International Movies",A young chauffeur who's at a crossroads in his...,9.4
3001,80221109,Movie,4L,Gerardo Olivares,"Jean Reno, Hovik Keuchkerian, Susana Abaitua, ...",Spain,"July 12, 2019",2019,TV-MA,105 min,"Comedies, Dramas, Independent Movies","Hoping to reunite with a dying friend, two lon...",8.2
3378,80997602,Movie,Eye For An Eye,Paco Plaza,"Luis Tosar, Xan Cejudo, Ismael Martínez, Enric...",Spain,"January 15, 2020",2019,TV-MA,108 min,"Dramas, International Movies, Thrillers",A cartel boss is released from prison and unkn...,8.1
4156,80211229,TV Show,Cleo & Cuquin,Fernando Moro,NaN,Spain,"December 5, 2018",2018,TV-Y,1 Season,Kids' TV,Spirited sister-brother duo Cleo and Cuquín tr...,9.9
4969,81078331,TV Show,Victim Number 8,NaN,"César Mateo, María de Nati, Verónika Moral, Iñ...",Spain,"August 16, 2019",2018,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",No one can be trusted after a terrorist bombin...,8.7
5184,80160972,Movie,El fin de ETA,Justin Webster,NaN,Spain,"April 8, 2017",2017,TV-14,106 min,"Documentaries, International Movies",This documentary chronicles the decade-long pr...,9.7
5440,81018120,Movie,Who Would You Take to a Deserted Island?,Jota Linares,"María Pedraza, Jaime Lorente, Pol Monen, Andre...",Spain,"April 13, 2019",2019,TV-MA,94 min,"Dramas, International Movies","On their last night together, four longtime fl...",9.0
5589,80200942,TV Show,Elite,NaN,"Danna Paola, Miguel Herrán, María Pedraza, Itz...",Spain,"September 6, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",When three working-class teens enroll in an ex...,9.7
5801,80018046,TV Show,Velvet,Carlos Sedes,"Paula Echevarría, Miguel Ángel Silvestre, Aita...",Spain,"May 22, 2017",2016,TV-14,4 Seasons,"International TV Shows, Romantic TV Shows, Spa...","In 1950s Spain, the heir to a fashion house ro...",8.4

# 17. Get, respectively:
the oldest 'Release Year' in the DataFrame
the index of item with oldest 'Release Year'
the item with oldest 'Release Year'

In [101]:
#the oldest 'Release Year' in the DataFrame
min1=d['release_year'].min()
min1

1925

In [105]:
#the index of item with oldest 'Release Year' 
value_to_find = min1
index_position = d['release_year'].tolist().index(value_to_find)
index_position

4292

In [123]:
#the item with oldest 'Release Year'
print(d.iloc[4292])

show_id                                                  81030762
type                                                      TV Show
title                           Pioneers: First Women Filmmakers*
director                                                      NaN
cast                                                          NaN
country                                                       NaN
date_added                                      December 30, 2018
release_year                                                 1925
rating                                                      TV-PG
duration                                                 1 Season
listed_in                                                TV Shows
description     This collection restores films from women who ...
IMDB                                                          7.4
Name: 4292, dtype: object

# 18. Get the missing values:

In [240]:
d.isna()
#we can use d.isnull() also

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,False,False,False,True,False,False,True,False,False,False,False,False,False
6230,False,False,False,True,False,False,True,False,False,False,False,False,False
6231,False,False,False,True,True,True,True,False,True,False,False,False,False
6232,False,False,False,True,False,False,True,False,False,False,False,False,False
6233,False,False,False,True,False,False,True,False,False,False,False,False,False

# 19. Which items have missing values in any of the columns (Hint: use logical masking, do not forget the previous step returned booleans in the DataFrame)?

In [247]:
d[d.isna().any(axis=1)]#

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...,1.6
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.9
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,6.8
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",7.8
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,4.3

# 20. Drop items which have missing values in any of the columns:

In [233]:
d.dropna(axis=0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f...",6.2
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...,5.3
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,80063224,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"August 30, 2019",2019,TV-PG,7 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,6.1
6158,80164216,TV Show,Miraculous: Tales of Ladybug & Cat Noir,Thomas Astruc,"Cristina Vee, Bryce Papenbrook, Keith Silverst...","France, South Korea, Japan","August 2, 2019",2018,TV-Y7,4 Seasons,"Kids' TV, TV Action & Adventure","When Paris is in peril, Marinette becomes Lady...",3.3
6167,80115328,TV Show,Sacred Games,"Vikramaditya Motwane, Anurag Kashyap","Saif Ali Khan, Nawazuddin Siddiqui, Radhika Ap...","India, United States","August 15, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, TV Dramas",A link in their pasts leads an honest cop to a...,6.5
6182,80176842,TV Show,Men on a Mission,Jung-ah Im,"Ho-dong Kang, Soo-geun Lee, Sang-min Lee, Youn...",South Korea,"April 9, 2019",2019,TV-14,4 Seasons,"International TV Shows, Korean TV Shows, Stand...",Male celebs play make-believe as high schooler...,6.7
6213,80126599,TV Show,Leyla and Mecnun,Onur Ünlü,"Ali Atay, Melis Birkan, Serkan Keskin, Ahmet M...",Turkey,"April 15, 2017",2014,TV-PG,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",Destiny brings Mecnun and Leyla together as ne...,6.4

# 21. Drop items which do not have minimum 10 valid (not missing) values:

In [251]:
d.dropna(thresh=10,axis=0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,3.2
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.9
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",7.8
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,4.3

# 22. Replace missing values with 'not available':

In [252]:
d.fillna('not available')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
1,80117401,Movie,Jandino: Whatever it Takes,not available,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,not available,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,not available,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,not available,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,not available,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.9
6230,70286564,TV Show,Maron,not available,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,not available,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,not available,not available,not available,not available,2016,not available,60 min,Movies,Nursery rhymes and original music for children...,6.8
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,not available,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,not available,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",7.8
6233,70153404,TV Show,Friends,not available,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,not available,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,4.3

# 23. Fill the missing values in a way that they will take the value from the previous row/item:

In [253]:
d.fillna(method='ffill')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
1,80117401,Movie,Jandino: Whatever it Takes,"Richard Finn, Tim Maltby",Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,"Richard Finn, Tim Maltby","Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,"Richard Finn, Tim Maltby","Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,Onur Ünlü,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,"April 1, 2014",2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.9
6230,70286564,TV Show,Maron,Onur Ünlü,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"April 1, 2014",2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,Onur Ünlü,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"April 1, 2014",2016,TV-MA,60 min,Movies,Nursery rhymes and original music for children...,6.8
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,Onur Ünlü,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,"April 1, 2014",2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",7.8
6233,70153404,TV Show,Friends,Onur Ünlü,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,"April 1, 2014",2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,4.3

# 24. Pivot the DataFrame in a way that 'Show ID' will be the index and 'type' contents will be the columns and duration will be the values:

In [254]:
d.pivot(index='show_id',columns='type',values='duration')

type        Movie    TV Show
show_id
247747    172 min        NaN
269880    119 min        NaN
281550    109 min        NaN
284890    166 min        NaN
292118     81 min        NaN
...           ...        ...
81224868      NaN  2 Seasons
81227195  107 min        NaN
81228864  102 min        NaN
81235603      NaN   1 Season
81235729   86 min        NaN

[6234 rows x 2 columns]

# 25. Replace United States with US and United Kingdom with UK in the country column:

In [222]:
d['country'].replace(['United States','United Kingdom'],['US','UK'],inplace=True)

In [223]:
d

,Show ID,type,title,director,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,5.5
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,UK,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.6
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",US,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.0
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",US,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,1.3
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",US,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",US,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",7.9
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",US,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",2.6
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,6.8
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",UK,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",7.8
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",US,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,4.3

# 26. Group the 'IMDB rating' column by 'Listed in' column (groupby) and assign it the group variable:

In [209]:
grv=d.groupby(['Listed in'])['IMDB']
grv

# 26.a Using the group variable we just created, show which 'Listed in' content has how many IMDB ratings in total (Hint: calling agg functions on the group object):

In [210]:
grv.sum()

Listed in
Action & Adventure                                              367.0
Action & Adventure, Anime Features, Children & Family Movies      3.0
Action & Adventure, Anime Features, Classic Movies                9.2
Action & Adventure, Anime Features, Horror Movies                 2.3
Action & Adventure, Anime Features, International Movies        135.0
                                                                ...
TV Horror, TV Mysteries, Teen TV Shows                            4.8
TV Horror, Teen TV Shows                                          9.2
TV Sci-Fi & Fantasy, TV Thrillers                                 6.4
TV Shows                                                         66.0
Thrillers                                                       219.6
Name: IMDB, Length: 461, dtype: float64

# 27. Define a function which half the variable it gets passed onto and returns the result:

In [194]:
# define the function
def half_of_imdb(data):
    return data/2.0

# 27a. Apply the function we defined to the 'IMDB rating' column:

In [195]:
d['IMDB'].apply(half_of_imdb)

0       2.75
1       2.30
2       2.00
3       0.65
4       0.55
        ...
6229    3.95
6230    1.30
6231    3.40
6232    3.90
6233    2.15
Name: IMDB, Length: 6234, dtype: float64

In [199]:
print(4.0/2.0)

2.0