# Series-Pandas

In [1]:
#series-it's display data's like a onedimention table with column
import numpy as np
import pandas as pa

In [15]:
#create series from a List
lis=[2.0,2.5,3.25,4.9]
print(lis)
print('*'*50)
ser=pa.Series(lis)#it's automatically add index columnn as 0,1,2... if we not given
print(ser)
print('*'*50)
ser=pa.Series(data=lis)#both are same we can give like that or directly 
print(ser)

[2.0, 2.5, 3.25, 4.9]
**************************************************
0    2.00
1    2.50
2    3.25
3    4.90
dtype: float64
**************************************************
0    2.00
1    2.50
2    3.25
3    4.90
dtype: float64

In [13]:
#add index as we want in the datasets
print(lis)
print('*'*50)
ser2=pa.Series(data=lis,index=['A','B','C','D'])#index column going to change as we given
print(ser2)

[2.0, 2.5, 3.25, 4.9]
**************************************************
A    2.00
B    2.50
C    3.25
D    4.90
dtype: float64

In [19]:
#if we wnat to fetch values or indexes from Series,use below steps
print(ser)#inthis variable we did not give any specific index position
print(ser2)#this variable we given A,B,C,D Index
print('*'*50)
print(ser.values)
print(ser.index)#if we not given index position,i will give output as start,stop,step like that
print(ser2.index)#if we given index values,it will show that index values

0    2.00
1    2.50
2    3.25
3    4.90
dtype: float64
A    2.00
B    2.50
C    3.25
D    4.90
dtype: float64
**************************************************
[2.   2.5  3.25 4.9 ]
RangeIndex(start=0, stop=4, step=1)
Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
#creating series from an array
arr=np.array([[30+3j,56,78,90,0],[30+3j,56,78,90,0]])
print(arr)
print('*'*50)
print(pa.Series(data=arr))
#we can't give two dimention array datas to cahnge Series

[[30.+3.j 56.+0.j 78.+0.j 90.+0.j  0.+0.j]
 [30.+3.j 56.+0.j 78.+0.j 90.+0.j  0.+0.j]]
**************************************************

ValueError: Data must be 1-dimensional

In [24]:
#creating series from an array
arr=np.array([30+3j,56,78,90,0])
print(arr)
print('*'*50)
print(pa.Series(data=arr))

[30.+3.j 56.+0.j 78.+0.j 90.+0.j  0.+0.j]
**************************************************
0    30.0+3.0j
1    56.0+0.0j
2    78.0+0.0j
3    90.0+0.0j
4     0.0+0.0j
dtype: complex128

In [27]:
#creating series from array integer data
arr1=np.arange(5)
print(arr1)
print('*'*50)
ser3=pa.Series(arr1,index=['zero','one','two','three','four'])
print(ser3)

[0 1 2 3 4]
**************************************************
zero     0
one      1
two      2
three    3
four     4
dtype: int32

In [33]:
#creating series from Dictionary
from pandas import Series
#in dictionary series will take key value as a index value
dic={"Name":'karthik','Age':23,'Degree':"BSC(CS)",'Native':"thiruchendur"}
ser5=Series(dic)
print(ser5)

Name           karthik
Age                 23
Degree         BSC(CS)
Native    thiruchendur
dtype: object

In [3]:
#creating series from Dictionary
from pandas import Series
#in dictionary series will take key value as a index value
dic={"Name":'karthik','Age':23,'Degree':"BSC(CS)",'Native':"thiruchendur"}
ser4=Series(dic,index=[1,2,3,4])
print(ser4)
#we can't give index values while creating series from dictionary

1    NaN
2    NaN
3    NaN
4    NaN
dtype: object

In [39]:
#how to access series element (access series values by their index values)
print(ser5)
print('My name is:',ser5['Name'])#we can access those index value
print('*'*50)
print(ser2)
number4=ser2['D']
print('Number_4:',number4)

Name           karthik
Age                 23
Degree         BSC(CS)
Native    thiruchendur
dtype: object
My name is: karthik
**************************************************
A    2.00
B    2.50
C    3.25
D    4.90
dtype: float64
Number_4: 4.9

In [48]:
#how to access index and values both
print(ser5)
print('*'*50)
print(ser5[['Name']])
print('-'*50)
print(ser5[['Age','Degree']])

Name           karthik
Age                 23
Degree         BSC(CS)
Native    thiruchendur
dtype: object
**************************************************
Name    karthik
dtype: object
--------------------------------------------------
Age            23
Degree    BSC(CS)
dtype: object

In [51]:
#arange
arr4=np.arange(10)
ser6=Series(arr4)
print(ser6)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [53]:
#find series values are 3 or more than 3
ser6 >=3

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [57]:
#to fetch values from series which are 3 or moethan 3
print(ser6[ser6>=3])

3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [61]:
#check we sercing value is present by 'in' operator
arr6=np.arange(2,9)
print(arr6)
print('*'*50)
ser7=Series(arr6)
print(ser7)
print('*'*50)
print(7 in ser7)#why it's giving false,it's check index values not values
print(6 in ser7)

[2 3 4 5 6 7 8]
**************************************************
0    2
1    3
2    4
3    5
4    6
5    7
6    8
dtype: int32
**************************************************
False
True

In [62]:
#want to fetch only which are the element is eaual to 8
ser7[ser7==8]

6    8
dtype: int32

In [65]:
#how to create series index using list variable
names=['Karthik','Mani','Raj',"Bala"]
ser8=Series(data=[90,89,56,37],index=names)
print(ser8)
print('*'*50)
names=['Karthik','Monisha','Sivangi',"Bala"]
ser9=Series(data=[80,98,60,76],index=names)
print(ser9)

Karthik    90
Mani       89
Raj        56
Bala       37
dtype: int64
**************************************************
Karthik    80
Monisha    98
Sivangi    60
Bala       76
dtype: int64

In [67]:
#how to create NaN value using to series variables
print(ser8)
print(ser9)
print('*'*50)
#now we going to add two series.if both series has same index value means,it will add otherwise it will give NaN value
my_series=ser8+ser9
print(my_series)

Karthik    90
Mani       89
Raj        56
Bala       37
dtype: int64
Karthik    80
Monisha    98
Sivangi    60
Bala       76
dtype: int64
**************************************************
Bala       113.0
Karthik    170.0
Mani         NaN
Monisha      NaN
Raj          NaN
Sivangi      NaN
dtype: float64

In [70]:
#how to find NaN's in Series
print(my_series)
print('*'*50)
my_series.isnull()

Bala       113.0
Karthik    170.0
Mani         NaN
Monisha      NaN
Raj          NaN
Sivangi      NaN
dtype: float64
**************************************************

Bala       False
Karthik    False
Mani        True
Monisha     True
Raj         True
Sivangi     True
dtype: bool

In [71]:
#fetch only NaN values form the series
print(my_series)
print('*'*50)
my_series[my_series.isnull()]

Bala       113.0
Karthik    170.0
Mani         NaN
Monisha      NaN
Raj          NaN
Sivangi      NaN
dtype: float64
**************************************************

Mani      NaN
Monisha   NaN
Raj       NaN
Sivangi   NaN
dtype: float64

In [19]:
#Replacing the Values
series=Series(np.arange(2,8))
print(series)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int32

In [20]:
#replace value like a list replacing
series[0]='$'#if we use this method,it will replace permently we given value
series

0    $
1    3
2    4
3    5
4    6
5    7
dtype: object

In [21]:
series

0    $
1    3
2    4
3    5
4    6
5    7
dtype: object

In [23]:
#replace-using replace we can change value,but we changed value not change to original series variable
series.replace(3,10)#3-changing value,10-what value going to be change

0     $
1    10
2     4
3     5
4     6
5     7
dtype: object

In [24]:
series

0    $
1    3
2    4
3    5
4    6
5    7
dtype: object

In [25]:
#if we want to change values to original series variable means,using inplace keyword
series.replace(3,100,inplace=True)

In [26]:
series

0      $
1    100
2      4
3      5
4      6
5      7
dtype: object

In [29]:
#with new variable also we can use to replace the value permently
series1=series.replace(4,100)
print(series1)

0      $
1    100
2    100
3      5
4      6
5      7
dtype: object

In [30]:
series1

0      $
1    100
2    100
3      5
4      6
5      7
dtype: object

In [31]:
#how to replace two series values at a time
series1.replace(['$',100],[99,0])#'$-->going to change 99,100-->going to change 0'

0    99
1     0
2     0
3     5
4     6
5     7
dtype: int64

In [32]:
series1#it's not changed original varibale

0      $
1    100
2    100
3      5
4      6
5      7
dtype: object

In [35]:
#to use inplace  keyword inorder to applay repplace in original series variable
series1.replace(['$',100],[99,0],inplace=True)#'$-->going to change 99,100-->going to change 0'

In [36]:
series1#it's changed to original varibale

0    99
1     0
2     0
3     5
4     6
5     7
dtype: int64

In [40]:
#replace series values as a dictionary value
print(series1.replace({5:'k',6:'A'}))
print(series1.replace({7:'r'}))

0    99
1     0
2     0
3     k
4     A
5     7
dtype: object
0    99
1     0
2     0
3     5
4     6
5     r
dtype: object

In [41]:
series1

0    99
1     0
2     0
3     5
4     6
5     7
dtype: int64

In [42]:
#bfill-fill backward-it is used to fill backward value to we given value position
#ffill-fill forward-it is used to fill forward value to we given value position
series1

0    99
1     0
2     0
3     5
4     6
5     7
dtype: int64

In [4]:
from pandas import Series
series2=Series(np.arange(2,8))
print(series2)
print('*'*50)
series2.replace(3,method='bfill')#it filled backword value 4 to we give 3 value position

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int32
**************************************************

0    2
1    4
2    4
3    5
4    6
5    7
dtype: int32

In [8]:
#if we want to change permently replace use inplace keyword
print(series2)
print('*'*50)
series2.replace(3,method='bfill',inplace=True)#it filled backword value 4 to we give 3 value position

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int32
**************************************************

In [9]:
series2

0    2
1    4
2    4
3    5
4    6
5    7
dtype: int32

In [11]:
#ffill
print(series2)
print('*'*50)
series2.replace(6,method='ffill')#it's filled forward value of 5 to we given value 6 posision

0    2
1    4
2    4
3    5
4    6
5    7
dtype: int32
**************************************************

0    2
1    4
2    4
3    5
4    5
5    7
dtype: int32

In [13]:
#NaN-(none)how to create Nan value during the Series creation
sser=pa.Series([np.nan,10,20,30,np.nan],index=['Row1','Row2','Row3','Row4','Row5'])
sser

Row1     NaN
Row2    10.0
Row3    20.0
Row4    30.0
Row5     NaN
dtype: float64

In [14]:
#isnull()-this function is used to give true or false output if values is nan is give True
sser.isnull()

Row1     True
Row2    False
Row3    False
Row4    False
Row5     True
dtype: bool

In [15]:
#dropna-used to drop the rows which has Nan values
sser.dropna()

Row2    10.0
Row3    20.0
Row4    30.0
dtype: float64

In [16]:
#fillna-it's used to fill we given value to Nan value position
sser.fillna(value='kkk')

Row1     kkk
Row2    10.0
Row3    20.0
Row4    30.0
Row5     kkk
dtype: object

In [17]:
#drop-it's is used to drop we given Row
sser.drop('Row2')

Row1     NaN
Row3    20.0
Row4    30.0
Row5     NaN
dtype: float64

In [22]:
#concat-it is used to concat two Series or morethan two series
from pandas import DataFrame,Series
ser1=Series(np.arange(3),index=['A','B','C'])
print(ser1)
print('*'*50)
ser2=Series(np.arange(11,13),index=['X','Y'])
print(ser2)
print('*'*50)
ser3=Series(np.arange(21,24),index=[1,2,3])
print(ser3)
print('*'*50)
sss=pa.concat([ser1,ser2,ser3])
print(sss)
print('*'*50)
pa.concat([ser1,ser2])

A    0
B    1
C    2
dtype: int32
**************************************************
X    11
Y    12
dtype: int32
**************************************************
1    21
2    22
3    23
dtype: int32
**************************************************
A     0
B     1
C     2
X    11
Y    12
1    21
2    22
3    23
dtype: int32
**************************************************

A     0
B     1
C     2
X    11
Y    12
dtype: int32