# Array-DataStructure

In [60]:
import numpy as np
a=np.array([{'january':2200},{'February':2350},{'March':2600},{'April':2130},{'May':2190}])
print(a)

[{'january': 2200} {'February': 2350} {'March': 2600} {'April': 2130}
 {'May': 2190}]

In [16]:
#1.In feb,how many dollers you spent extra compare to january
feb=a[1]['February']-a[0]['january']
print(f"We have Spent morethan {feb} in Febuary compare than January")

We have Spent morethan 150 in Febuary compare than January

In [28]:
#2.find out your total expense in first quarter(first three months) of the year
sum1=0
for i in range(len(a)):
    if i<3:
        temp=a[i]
        for k in temp.keys():
            sum1+=temp[k]
print("Three Months Total Expenses:",sum1)

Three Months Total Expenses: 7150

In [57]:
#3.find out if you spent exactly 2000 in any months
length=len(a)
s=0
for j in range(len(a)):
    temp=a[j]
    for k in temp.keys():
        if temp[k]==2000:
            print(k)
        else:
            s+=1
if length==s:
    print("expense 2000 not equal to any month ")

expense 2000 not equal to any month

In [58]:
#4.June month just finished and your expense is 1980 dollar.add this item to our monthly expense list
a1=np.append(a,{'June':1900})
a=a1
print(a)

[{'january': 2200} {'February': 2350} {'March': 2600} {'April': 2130}
 {'May': 2190} {'June': 1900}]

In [61]:
#you returned an item that you bought in month of april and got a refund of 200$.make a corrrection to your monthly expemse list
a[3]['April']=a[3]['April']+200
print(a)

[{'january': 2200} {'February': 2350} {'March': 2600} {'April': 2330}
 {'May': 2190}]