# Built-in-DataStucture

LIST

In [6]:
#List is collection of Zero or many elements seperated by comma and enclosed by squre bracket.
#List can contain Zero or more than zero elements.
li=[1,2,3,4]
print(type(li),"\n",li)
#creating empty list using list constructor
li_zero=list()
print(type(li_zero),"\n",li_zero)

<class 'list'>
 [1, 2, 3, 4]
<class 'list'>
 []

In [7]:
#can store data of differnt datatypes.
li_dfdatas=[1,"karthik",'k',3.4,34+5j]
print(li_dfdatas)

[1, 'karthik', 'k', 3.4, (34+5j)]

In [9]:
#Lists are ordered.
list1=[1,2,3,4,5]
list2=[2,1,3,4,5]
print(list1==list2)#it will give false even if all elements are same cause elements order changed
print("*"*50)
list3=[1,2,3,4,5]
list4=[1,2,3,4,5]
print(list3==list4)#if elemets order and values both same means, it will give True output

False
**************************************************
True

In [10]:
#we can access list elements using index.
list_ele=[45,78,3,"kd"]
print(list_ele[0])
print(list_ele[-1])
print(list_ele[::-1])

45
kd
['kd', 3, 78, 45]

In [11]:
#List can be nested.
list_nested=[98,23,[34,45,67]]#list inside creating one more list it called as nested list. 
print(list_nested)

[98, 23, [34, 45, 67]]

In [13]:
#.Lists are Mutable.(we can add and remove the elements so list is mutable)
li_mutable=list_ele
print(li_mutable)
print("*"*50)
li_mutable.append(99)
print(li_mutable)
li_mutable.remove("kd")
print(li_mutable)

[45, 78, 3, 'kd']
**************************************************
[45, 78, 3, 'kd', 99]
[45, 78, 3, 99]

In [17]:
#Lists are dynamic.(Cause if we add the element into the List,it will grow.if we remove the element in the list ,it will shrink)
li_mutable1=[1,2,3,4]
print(li_mutable1)
print("Size of List:",len(li_mutable1))
print("*"*50)
li_mutable1.extend(range(20))
print(li_mutable1)
print("Size of List:",len(li_mutable1))
print("*"*50)
del li_mutable1[0:10]
print(li_mutable1)
print("Size of List:",len(li_mutable1))

[1, 2, 3, 4]
Size of List: 4
**************************************************
[1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Size of List: 24
**************************************************
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Size of List: 14

Tuples

In [18]:
#1.Tuple is collection of Zero or many elements seperated by comma and enclosed by parenthisis.
#creation of tuples.
tup=(1,2,3,4)
print(type(tup),"\n",tup)
#created empty tuple using tuple constructor
tt=tuple()
print(type(tt),"\n",tt)

<class 'tuple'>
 (1, 2, 3, 4)
<class 'tuple'>
 ()

In [20]:
#Tuples are immutable(we can't add or remove elemets here)
print(tup)
tup.append(7)
tup.remove(4)

(1, 2, 3, 4)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
#Tuples can be nested.
#Tuple accept multiple datatypes and duplicate values.
tup_nes=(34,'kkk',('893',90,90.78))
print(tup_nes)#create tuple inside the one more tuple is called as nested tuple

(34, 'kkk', ('893', 90, 90.78))

In [24]:
#we can access elements using Index position.
print(tup_nes)
print("*"*50)
print(tup_nes[0])
print(tup_nes[-1])
print(tup_nes[2][1])

(34, 'kkk', ('893', 90, 90.78))
**************************************************
34
('893', 90, 90.78)
90

In [26]:
#tuple is orderd
list1=(1,2,3,4,5)
list2=(2,1,3,4,5)
print(list1==list2)#it will give false even if all elements are same cause elements order changed
print("*"*50)
list3=(1,2,3,4,5)
list4=(1,2,3,4,5)
print(list3==list4)#if elemets order and values both same means, it will give True output

False
**************************************************
True

Dictionary

In [30]:
#1.Used to store data's in (key:value) pair with enclosed by curly bracket
#2.Craetion of Empty and value dictionary
dic={1:'karthik','kk':3}#dictionary accept all datatypes
print(dic)
#creating empty dictionary using dict constructor
dic1=dict()
print(type(dic1),dic1)

{1: 'karthik', 'kk': 3}
<class 'dict'> {}

In [31]:
#dictionary key can't accept duplicate keys.but Values accept duplicate.
dicc={1:'k',2:'a',1:'r',3:'a'}
print(dicc)

{1: 'r', 2: 'a', 3: 'a'}

In [33]:
#We can't be use mutable datatype as a key.
diccc1={(6,4,5):"dll"}#here I had tried tuple to dictionary key.tuple is imutable datatype so it's accepting
print(diccc1)
diccc={[6,4,5]:"dll"}#here I had tried list to dictionary key.list is a mutable datatype  so it's not accepting
print(diccc)

{(6, 4, 5): 'dll'}

TypeError: unhashable type: 'list'

In [36]:
#we can use mutable and immutable types as a value.
diccc={'d':[2,3,4,5],'r':(45,78)}#as value we can use both mutable and mutable datatype
print(diccc)

{'d': [2, 3, 4, 5], 'r': (45, 78)}

In [39]:
#dictionary is the Unordered
di={2:'k',1:'a'}
di1={1:'a',2:'k'}
print(di==di1)#it's won't check order,it's only check values
print("*"*50)
di={2:'k',1:'a'}
di1={1:'s',2:'k'}
print(di==di1)

True
**************************************************
False

In [42]:
#7.here we can access the Element by Dictionary keys.
print(di)
print(di[2])
for i in di:
    print(di[i])

{2: 'k', 1: 'a'}
k
k
a

In [44]:
#8.Dictionary is mutable.(so we can add and remove values).
#to add
print(di)
di.update({3:'r',4:'t'})
print(di)
del di[1]
print(di)

{2: 'k', 1: 'a'}
{2: 'k', 1: 'a', 3: 'r', 4: 't'}
{2: 'k', 3: 'r', 4: 't'}

In [47]:
#9.Nested dictionary(we can nested dictionary values but we can't nested dictionary keys)
dii={1:{90,"kkk"}}
print(dii)
dd={{1:2}:"kkk"}#we can't give dic to key
print(dd)

{1: {'kkk', 90}}

TypeError: unhashable type: 'dict'

SET

In [49]:
#collection of immutable unique elements enclosed with {}
#1.Creation of Set with value and without value.
se={2,34,5,'kkk',34.89}#it's accept all datatypes
print(type(se),se)
#empty set reation using set() constructor
em_se=set()
print(type(em_se),"\n",em_se)

<class 'set'> {2, 34.89, 34, 5, 'kkk'}
<class 'set'>
 set()

In [50]:
#it won't accept Duplicate values.
no_duplicate={34,45,34,45,2}
print(no_duplicate)

{34, 2, 45}

In [51]:
#set is also unordered
di={2,'k',1,'a'}
di1={1,'a',2,'k'}
print(di==di1)#it's won't check order,it's only check values
print("*"*50)
di={2,'k',1,'a'}
di1={1,'s',2,'k'}
print(di==di1)

True
**************************************************
False

In [54]:
#set is a mutable datatype so we can add and remove elements.
print(se)
se.add(23)
se.update({24,'kkk',90})
print(se)
se.remove('kkk')
print(se)

{2, 34.89, 34, 5, 23, 24, 90}
{2, 34.89, 34, 5, 23, 'kkk', 24, 90}
{2, 34.89, 34, 5, 23, 24, 90}

In [55]:
#mutable elements can't be a element of sets.only immutable elements can be a element of sets.
set1={[1,2,34]}#list is mutable type so it's not accepting
print(set1)

TypeError: unhashable type: 'list'

In [57]:
set1={(23,4),('kk','bb'),90}#here tupe is the mutable datatype so it's accepting tuple as a set elements
print(set1)

{(23, 4), 90, ('kk', 'bb')}

In [58]:
#set can't be nested
set_nes={45,45,{45,89},9}
print(set_nes)

TypeError: unhashable type: 'set'

In [60]:
#we can't access set elements by their id.
print(set1)
print(set1[0])

{(23, 4), 90, ('kk', 'bb')}

TypeError: 'set' object is not subscriptable