In [1]:
#1
list1=[2,33,222,14,25]
print(list1[:-1])

[2, 33, 222, 14]

In [2]:
#2
names=['Amir','Bear','Charlton','Daman']
print(names[-1][-1])

n

In [3]:
#3
list1=[1,3]
list2=list1
list1[0]=4
print(list2)

[4, 3]

In [7]:
#4
dic=dict([[1,"A"],[2,"B"]])
print(dic)
dic1={}
print(dic1)
dic2={1:'A',2:'B'}
print(dic2)
dic3={1,"A",2"B"}
print(dic3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (828108551.py, line 7)

In [8]:
#5
a={1:5,2:3,3:4}
a.pop(3)
print(a)

{1: 5, 2: 3}

In [9]:
#6
nums=set([1,1,2,3,3,3,4,4])
print(len(nums))

4

In [10]:
#7
a={1,2,3}
b=a
b.remove(3)
print(a)

{1, 2}

In [11]:
#8
a={3,4,{7,5}}
print(a[2][0])

TypeError: unhashable type: 'set'

In [12]:
#9
a={4,5,6}
b={2,8,6}
print(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
#10
d={"john":40,"peter":45}
print(d["john"])

40

In [14]:
#11
example="snow world"
example[3]='s'
print(example)

TypeError: 'str' object does not support item assignment

In [15]:
#12
print("xyyzxyzxzxyy".count('yy',1))

2

In [16]:
#13
print("abcdef".find("cd"))

2

In [17]:
#14
t=(1,2,4,3)
print(t[3])
print(max(t))
print(len(t))
t[3]=45

3
4
4

TypeError: 'tuple' object does not support item assignment

In [18]:
#15
a=("Check")*3
print(a)

CheckCheckCheck

In [19]:
#16
my_tuple=(1,2,3,4)
my_tuple.append((5,6,7))
print len(my_tuple)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2146025912.py, line 4)

In [20]:
#17
a=(1,2,3,4)
print(del(a[2]))

SyntaxError: invalid syntax (1316812945.py, line 3)