# PYTHON OPERATORS

In [3]:
#Arithmetic operator
x=int(input("Enter the number="))
y=int(input("Enter the number="))
print('Addition of x and y is:',x+y)
print('Subtraction of x and y is:',x-y)
print('Multiplication of x and y is:',x*y)
print('Division of x and y is:',x/y)
print('Floor Division of x and y is:',x//y)#it will display whole value or round value
print('Modules of x and y is:',x%y)#it will give Reminder value
print('Expontial of x and y is:',x**y)#it will give power of value

Enter the number=10
Enter the number=3
Addition of x and y is: 13
Subtraction of x and y is: 7
Multiplication of x and y is: 30
Division of x and y is: 3.3333333333333335
Floor Division of x and y is: 3
Modules of x and y is: 1
Expontial of x and y is: 1000

In [1]:
#Assignment Operator
x=int(input('Enter the Number:'))#30
y=int(input('Enter the Number:'))#15
z=x+y
print('The Value of Z is:',z)#45
z+=x #z=z+x-->z=45+30
print('The Addition is:',z)#75
z-=y #z=z-y-->z=75-15
print('The Subtraction is:',z)#60
z*=x #z=z*x-->z=60*30
print('The Multiplication is:',z)#1800
z/=y #z=z/y-->z=1800/15
print('The Subtraction is:',z)#120

Enter the Number:30
Enter the Number:15
The Value of Z is: 45
The Addition is: 75
The Subtraction is: 60
The Multiplication is: 1800
The Subtraction is: 120.0

In [2]:
#comparison operator
x=int(input("enter the number:"))
y=int(input("enter the number:"))
print('Equal to is:',x==y)
print('notEqual to is:',x!=y)
print('Greaterthan is:',x>y)
print('Greaterthan equal to is:',x>=y)
print('lessthan is:',x<y)
print('lessthan equal to is:',x<=y)

enter the number:90
enter the number:90
Equal to is: True
notEqual to is: False
Greaterthan is: False
Greaterthan equal to is: True
lessthan is: False
lessthan equal to is: True

In [4]:
#logical operator
x=int(input("enter the number:"))
y=int(input("enter the number:"))
print("And value is:",x==y and x!=y)#Returns True if both statements are true
print("OR value is:",x==y or x!=y)#Returns True if one of the statements is true
print("OR value is:",not(x==y and x!=y))#Reverse the result, returns False if the result is true

enter the number:50
enter the number:50
And value is: False
OR value is: True
OR value is: True

In [5]:
#membership operator
fruits=['apple','orange','mango','pine apple']
print('apple' in fruits)
print('APPLE' not in fruits)

True
True

In [9]:
#Identity operator
x=int(input("enter the number:"))
y=int(input("enter the number:"))#if we give same number means, it memory storing id will be same
print(id(x))
print(id(y))
print(x is y)
print(y is not y)

enter the number:20
enter the number:20
2562900951888
2562900951888
True
False

In [2]:
x=int(input("enter the number:"))
y=int(input("enter the number:"))#if we give not same number means, it memory storing id will not be same
print(id(x))
print(id(y))
print(x is y)
print(x is not y)

enter the number:23
enter the number:45
1980524594096
1980524594800
False
True

In [11]:
l=[1,2,3]
l1=[1,2,3]
print(id(l))
print(id(l1))
print(l is l1)
print(l is not l1)#list is a mutable datatype.so even if values are same, id won't be same

2562981608448
2562981663424
False
True

In [9]:
#normal
name=input("Enter the Name:")
degree=input("Enter the Degree:")
print('My name is:',name,'.I have completed',degree)
print("-"*60)
#String formatting
name1=input("Enter the Name:")
degree1=input("Enter the Degree:")
print(f'''My name is:{name1}.I have completed {degree1}''')#we can use ('', "" ,'''''')

Enter the Name:Karthik R
Enter the Degree:Bsc(cs)
My name is: Karthik R .I have completed Bsc(cs)
------------------------------------------------------------
Enter the Name:baby
Enter the Degree:MA(English)
My name is:baby.I have completed MA(English)

In [23]:
print("k"*100)

kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk

In [49]:
#to find binaryvalue
print(bin(15))
print(bin(24))
print('-'*50)
#to convert binary to decimal
a=bin(15)
print(int(a,2))#base value of binary
print('-'*50)
#to find octal value
print(oct(15))
print('-'*50)
#to find hexadecimal value
print(hex(20))
print(hex(10))#remainder value 10-a,11-b,12-c,13-d,14-e,15-f
print('-'*50)
#octal to decimal
o=oct(20)
print(int(o,8))
print('-'*50)
#binary to hexadecimal,octal,decimal
b=0b1011
print("Hexa decimal value is",hex(b))
print("octal value is",oct(b))
print("decimal value is",int(b))
print('-'*50)
#octal to bin,hexadecimal,decimal
o1=0o55
print("binary value is",bin(o1))
print("Hexa decimal value is",hex(o1))
print("decimal value is",int(o1))
print('-'*50)
#hexadecimal to bin,octal,decimal
h=0x21
print("binary value is",bin(h))
print("octal value is",oct(h))
print("decimal value is",int(h))
print('-'*50)

0b1111
0b11000
--------------------------------------------------
15
--------------------------------------------------
0o17
--------------------------------------------------
0x14
0xa
--------------------------------------------------
20
--------------------------------------------------
Hexa decimal value is 0xb
octal value is 0o13
decimal value is 11
--------------------------------------------------
binary value is 0b101101
Hexa decimal value is 0x2d
decimal value is 45
--------------------------------------------------
binary value is 0b100001
octal value is 0o41
decimal value is 33
--------------------------------------------------

In [50]:
#bitwise operator
x=2
y=3
print("AND VALUE IS:",x&y)
print("OR VALUE IS:",x|y)
print("E-OR VALUE IS:",x^y)

AND VALUE IS: 2
OR VALUE IS: 3
E-OR VALUE IS: 1

In [57]:
#not 
x=3
y=-4
print("Not value is:",~x)#Next value
print("Not value is:",~y)#previous value

Not value is: -4
Not value is: 3

In [61]:
#to check whether the given number is odd or even
#if statement
x=int(input('Enter the Number:'))
if(x%2==0):
    print(x,"is an Even number")

Enter the Number:10
10 is an Even number

In [62]:
#if statement
x=int(input('Enter the Number:'))
if(x%2==0):
    print(x,"is an Even number")

Enter the Number:13

In [63]:
#if else statement
x=int(input('Enter the Number:'))
if(x%2==0):
    print(x,"is an Even number")
else:
    print(x,"is an odd number")

Enter the Number:23
23 is an odd number

In [66]:
#write a program to check whether 18+ are eligiable to vote or not
x=int(input("Enter the AGE:"))
if(x>18):
    print("Eligable to Vote")
else:
    print("Not Eligibale to vote")

Enter the AGE:12
Not Eligibale to vote

In [71]:
#if..elif statement
#to check whether the given number is positive or not
y=int(input("Enter the Number:"))
if(y>0):
    print(y,"is positive number")
elif(y==0):
    print(y,"is a zero")
else:
    print(y,"is negative number")

Enter the Number:-9
-9 is negative number

In [75]:
#Nested if-if condition inside the another if condition is called as Nested if
x=int(input("Enter the Number:"))
if(x>=0):
    if(x==0):
        print(x,"is a ZERO")
    else:
        print(x,"is a positive number")
else:
    print(x,"is a negative number")

Enter the Number:1
1 is a positive number

In [76]:
s#="karthik"
print(s#)

SyntaxError: incomplete input (2719478826.py, line 2)

In [80]:
s="karthik"
print(s[1])
print(s.find('a'))
print(s.index('a'))

a
1
1

In [82]:
#while loop
i=1 #initialize the value
while i<10:
    print(i)#it is going to display the answer
    i+=1 #increment

1
2
3
4
5
6
7
8
9

In [83]:
#break- we can stop the loop even if the while condition is true
i=1
while (i<6):
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [85]:
#continue-we can stop the current iteration,and continue with next iteration
i=2
while i<=10:
    i+=1
    if(i==5):
        continue
    print(i)

3
4
6
7
8
9
10
11

In [88]:
#how to use else statement in for loop # else block will display whatever present inside the else block
for i in range(1,5):
    print(i)
else:
    print("End of the loop")
print('-'*50)
#how to use else statement in While loop
i=100
while(i>=90):
    print(i)
    i-=1
else:
    print("end of the loop")

1
2
3
4
End of the loop
--------------------------------------------------
100
99
98
97
96
95
94
93
92
91
90
end of the loop

In [89]:
#list comprehension
#normal way of declaration using for loop
string="karthik"
li=[]
for i in string:
    li.append(i)
print(li)

['k', 'a', 'r', 't', 'h', 'i', 'k']

In [90]:
#list declaration using list comperhension
string="baby"
li=[li1 for li1 in string]
print(li)

['b', 'a', 'b', 'y']

In [92]:
li2=[li3 for li3 in 'baby']
print(li2)

['b', 'a', 'b', 'y']

In [104]:
#squre of number using for loop
xy=int(input("Enter the from Digit:"))
yx=int(input("Enter the end Digit:"))
li4=[]
for x1 in range(xy,yx+1):
    li4.append(x1**2)
print(li4)

Enter the from Digit:2
Enter the end Digit:7
[4, 9, 16, 25, 36, 49]

In [106]:
#squre of number using list comprehension
xy=int(input("Enter the from Digit:"))
yx=int(input("Enter the end Digit:"))
li4=[num**2 for num in range(xy,yx+1)]
print(li4)

Enter the from Digit:3
Enter the end Digit:4
[9, 16]

In [108]:
#find even number using if condion inside the list comprhension
xy=int(input("Enter the start Digit:"))
yx=int(input("Enter the end Digit:"))
li5=[li6 for li6 in range(xy,yx+1) if li6%2==0]
print(li5)

Enter the start Digit:4
Enter the end Digit:20
[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [124]:
#write a program to find celcius from ferenheit using list comprehesion
select=input("Choose the Ferenheit/Celcius:")
select.lower()
if (select=="celcius"):
    in1=[]
    in1.append(float(input("Enter the Ferenheit:")))
    list7=[(li8-32)*5/9 for li8 in in1]
    print("Celcius is:",list7)
elif (select == "ferenheit"):
    in1=[]
    in1.append(float(input("Enter the celcius:")))
    list7=[(li8*9/5)+32 for li8 in in1]
    print("Ferenheit is:",list7)
else:
    print("Enter correct string")

Choose the Ferenheit/Celcius:ferenheit
Enter the celcius:32.22
Ferenheit is: [89.99600000000001]

In [126]:
#eval function
i=input("ENTER ANYTHING:")
print(i,type(i))

ENTER ANYTHING:90
90 <class 'str'>

In [131]:
i=eval(input("Enter Anything:"))
print(i,type(i))
j=eval(input("Enter Anything:"))
print(j,type(j))
k=eval(input("Enter Anything:"))
print(k,type(k))

Enter Anything:True
True <class 'bool'>
Enter Anything:67
67 <class 'int'>
Enter Anything:87.98
87.98 <class 'float'>

In [132]:
#expression
l=eval(input("Enter the expression:"))
print(l)

Enter the expression:90+78-100
68

In [135]:
m=eval('67+90**4')#we can give only string
print(m)

65610067

In [144]:
n=eval(input("Enter the number:"))
print(n)

Enter the number:5,90,53,78
(5, 90, 53, 78)

In [146]:
n=eval(input("Enter the number:"))
print(list(n))

Enter the number:65,99,0
[65, 99, 0]