# Simpleinterest

In [8]:
#start
p=int(input("ENTER THE PRINCIPAL AMOUNT:"))
n=float(input("ENTER THE NO OF YEAER:"))
r=float(input("ENTER THE RATE OF INTEREST:"))
si=p*n*r/100
print("THE SIPLE INTEREST IS:",si)

ENTER THE PRINCIPAL AMOUNT:10000
ENTER THE NO OF YEAER:1.5
ENTER THE RATE OF INTEREST:12.5
THE SIPLE INTEREST IS: 1875.0

In [9]:
k$=a
print(k$)

SyntaxError: invalid syntax (3359900709.py, line 1)

In [10]:
s={9,8,7,9,0}
print(len(s))

4

In [11]:
s.sort()
print(s)

AttributeError: 'set' object has no attribute 'sort'

In [12]:
print(s.count(9))

AttributeError: 'set' object has no attribute 'count'

In [13]:
tup=(4.5,7,('k',90))
print(tup)
print(type(tup))

(4.5, 7, ('k', 90))
<class 'tuple'>

In [14]:
set1={90,90,5}
print(set1)

{90, 5}

In [19]:
tup=(56,89,67,'k')
print(type(tup))

<class 'tuple'>

In [22]:
print(tup[1])
print(tup.get[1])

89

AttributeError: 'tuple' object has no attribute 'get'